 :root {
     --border      : 1px solid #5f6368;
     --header-black: rgba(32, 33, 36, 1);
     --soft-black  : #303134;
     --text-footer : rgba(255, 255, 255, .54);
     --var         : #bdc1c6;
     --warm-black  : #202124;
     --white       : #e8eaed;
 }

 * {
     box-sizing: border-box;
     list-style: none;
     margin    : 0%;
     padding   : 0%;
 }

 a {
     cursor         : pointer;
     text-decoration: none;
 }

 html {
     font-family: Arial, Helvetica, sans-serif;
     font-size  : 62.5%;
 }

 .header {
     background-color: var(--header-black);
     height          : 60px;
     width           : 100%;
 }

 .header .header__nav {
     display        : flex;
     justify-content: flex-end;
 }

 .header__nav-right-section {
     align-items    : center;
     display        : flex;
     height         : 60px;
     justify-content: end;
     margin         : 0 7px;
     width          : 250px;
 }

 .header__nav-right-section a {
     color    : #ffffff;
     font-size: 1.3rem;
     margin   : 0 7px 0 0;
 }

 .header__nav-right-section .menu-icon a svg {
     background-position: center;
     background-repeat  : no-repeat;
     background-size    : cover;
     height             : 21px;
     width              : 21px;
     margin-top: 2px;
     margin-left: 2px; 
 }

 .header__nav-right-section img {
     border-radius: 50%;
     margin-left  : 7px;
 }

 .header__nav-right-section li {
     margin: 0 3px 0 12px;
 }

 .main {
     /* margin-top      : 150px; */
     background-color: var(--header-black);
     text-align      : center;
 }

 .main__logo {
     margin       : 0 auto;
     margin-bottom: 23px;
     width        : 530px;
 }

 .main .main__logo img {
     height: 92px;
     width : 272px;
 }

 .main .main__input {
     margin       : 0 auto;
     margin-bottom: 18px;
     width        : 600px;
 }

 .main .main__input-container {
     /* width: 525px; */
     align-items    : center;
     border         : 1px solid #5f6368;
     border-radius  : 100px;
     display        : flex;
     justify-content: center;
     margin         : 0 auto;
     width          : 585px;
 }

 .main .main__input-container:hover {
     background-color: #303134;
     border-color    : rgba(223, 225, 229, 0);
     box-shadow      : 0 1px 6px 0 #171717;
 }

 .main .main__input input {
     background-color: transparent;
     border          : none;
     color           : var(--white);
     font-size       : 1.6rem;
     height          : 44px;
     margin-left     : 13px;
     outline         : none;
     width           : 521px;
     word-wrap       : break-word;
 }


 .main .main__input .search-icon {
     color      : #9aa0a6;
     fill       : currentColor;
     height     : 22px;
     line-height: 24px;
     margin-top : 2px;
     width      : 20px;
 }

 .main .main__buttons {
     display        : flex;
     justify-content: center;
 }

 .main .main__buttons button {
     background-color: #303134;
     border          : 1px solid #303134;
     border-radius   : 5px;
     color           : var(--white);
     cursor          : pointer;
     font-size       : 1.4rem;
     height          : 36px;
     line-height     : 27px;
     margin          : 11px 6px;
     min-width       : 54px;
     padding         : 0 16px;
     text-align      : center;
     font-family     : Arial, Helvetica, sans-serif;
 }

 .main .main__buttons button:hover {
     box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
     border    : 1px solid #5f6368;
 }

 .main .main__languages {
     height: 216px;
     width: 100%;
 }

 .main .main__languages-container {
    margin: 12px;

 }

 .main .main__languages-container p {
    color: #bdc1c6;
    display: inline-block;
    line-height: 28px;
    font-size: 13px;
 }

 .main .main__languages-container a {
    color: #8ab4f8;
    padding: 0 3px;
    line-height: 28px;
    font-size: 13px;
 }

 .footer {
     align-items          : center;
     background-color     : #171717;
     border-top           : 1px solid #212327;
     display              : grid;
     grid-template-columns: 1fr 1fr;
     height               : 50px;
     position             : absolute;
     width                : 100%;
 }

 .footer div {
     margin: 0 auto;
     width: 95%;
 }

 .footer ul {
     display     : flex;
 }

 .footer ul li a {
    color : #999da2;
    font-size: 1.4rem;
    padding   : 15px 15px;
}

 .footer--top .footer--top-li {
    background-color     : #171717;
    border-top: 1px solid #212327;
    bottom: 0;
    color     : rgba(255, 255, 255, .54);
    font-size : 15px;
    padding   : 15px 30px;
}

 .footer .footer--left {
     justify-content: left;
 }

 .footer .footer--right {
     justify-content: right;
 }